
.navbar-brand img {
    height: 30px; 
  }

.navbar{
    border-bottom: 1px solid #ffa500;
}

body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, rgb(3,22,32),rgb(3,22,32));
    color: #ffa500;
}

.nav-link {
    color: #ffa500;
}

.navbar-expand-lg .navbar-nav .nav-link {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #031620;
    background-color: #ffa500;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add a slight shadow */
}

header {
    background-color: #ffa500; 
    color: #031620;;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    background-color: #ffa500; 
    color: #031620;;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

footer p {
    margin: 5px 0;
}

.about-section {
    background-color: #ffa500;
    color: #031620;
    padding: 2%;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 47%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px 4px; 
    border: 2px solid black; 
    border-radius: 10px; 
    color: #031620;
    background-color: #ffa500;
    padding: 2%;
}


.title {
    color: #031620;
}

.button {
    border: none;
    outline: 0;
    padding: .8%;
    color:  #ffa500;
    background-color:#031620;
    text-align: center;
    cursor: pointer;
    width: 95%;
    font-size: 25px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

h2, p {
    color: #031620;
}