body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #667eea 0%, #5b4670 100%); */
    background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, rgb(3,22,32),rgb(3,22,32));
    color: #ffa500;
}

.navbar{
    border-bottom: 1px solid #ffa500;
}

.navbar-expand-lg .navbar-nav .nav-link {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #031620;
    background-color: #ffa500;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add a slight shadow */
}

.navbar-brand img {
    height: 30px; 
  }

.image-container {
    width: 500px;
    height: 200px;
}

.image-container img {
    width: 500px;
    height: auto;
    display: block;
}

.nav-link {
    color:#ffa500;
}


header {
    background-color: #ffa500;
    color: #031620;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    background-color: #ffa500;
    color: #031620;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

footer p {
    margin: 5px 0;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: #ffa500;
    color: #031620;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 22px;
    height: 75vh;
}

th, td {
    border: 2px solid #031620;
    padding: 10px;
    text-align: center;
}

.form-control {
    width: 100%;
    appearance: none;
    border-width: 0px;
    box-shadow: currentcolor 0px 0px 0px 1px;
    border-style: solid;
    border-radius: 6px;
    background: transparent;
    color: inherit;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    transition: all 0.2s ease 0s;
}

::placeholder {
    color: #031620;
}

button {
    background-color: #031620;
    color: #ffa500;
    padding: 10px;
    border-radius: 20px;
}

