body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #667eea 0%, #5b4670 100%); */
    background-color: #031620;
    color: #ffa500;
}
.navbar-brand img {
    height: 30px; 
  }

.image-container {
    width: 500px;
    height: 200px;
}

.image-container img {
    width: 500px;
    height: auto;
    display: block;
}


a:hover {
    font-weight: 1000;
    color: #031620;
}


header {
    background-color: #ffa500;
    color: #031620;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    background-color: #ffa500;
    color: #031620;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

footer p {
    margin: 5px 0;
}

